@using	TradeAssociationWebsite.Models.Admin;
@model User
@{
	ViewData["Title"] = "Thêm hội viên";
}

<form method="post" asp-controller="Admin" asp-action="CreateUser" enctype="multipart/form-data">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Thông tin hội viên</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="UserName">Tài khoản hội viên</label>
			<input asp-for="UserName" class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="FullName">Tên hội viên</label>
			<input asp-for="FullName" class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Birthday">Ngày sinh</label>
			<input asp-for="Birthday" class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Phone">Số điện thoại</label>
			<input asp-for="Phone" class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Address">Địa chỉ</label>
			<input asp-for="Address" class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="UserType">Chức vụ</label>
			<input asp-for="UserType" class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="UserPicture" name="userPictureFile">Hình ảnh</label>
			<input id="userPictureInput" name="userPictureFile" type="file" class="form-control" onchange="previewImage(event)" />
		</div>
		<div id="imagePreview"></div>
	</div>
	<button type="submit" class="btn btn-success" style="width:150px">Thêm</button>
	<a href="/ListOfUser" class="btn btn-secondary" style="width:150px">
		Trở lại
	</a>
</form>
<script>
	function previewImage(event) {
		var input = event.target;
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function (e) {
				var dataURL = e.target.result;
				var imagePreview = document.getElementById('imagePreview');
				imagePreview.innerHTML = `<img src="${dataURL}" style="max-width: 100%; max-height: 200px;" />`;
			};

			reader.onerror = function (e) {
				console.error('Error reading file:', e.target.error);
			};

			reader.readAsDataURL(input.files[0]);
		}
	}
</script>
@*add a partial view to do client side validation*@
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
