@using TradeAssociationWebsite.Models.Admin;
@model User
@{
    ViewData["Title"] = "Đăng nhập";
}
<style>
    
</style>
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Đăng nhập tài khoản
            </div>
            <div class="card-body">
                <div class="input-focus-effect">
                    <form action="/User/Login" onsubmit="return Validate()" method="post" enctype="multipart/form-data">
                        <input name="__RequestVerificationToken" type="hidden" value="token_value_here" />
                        <div class="form-group">
                            <label asp-for="UserName">Tài khoản</label>
                            <input asp-for="UserName" id="UserName" name="UserName" class="form-control" placeholder="Nhập tài khoản..." type="text" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Password">Mật khẩu</label>
                            <input asp-for="Password" id="Password" name="Password" class="form-control" placeholder="Nhập mật khẩu" type="password" />
                        </div>

                        <div id="error" style="display: block" class="invalid-feedback">
                            @ViewBag.ErrorLogin
                        </div>

                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-outline-success " value="Login" />
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script>
    function Validate(event) {
        var username = document.getElementById("UserName");
        var password = document.getElementById("Password");
        var error = document.getElementById("error");
        if (!username.value || !password.value) {
            if (!username.value) {
                error.innerHTML = "Vui lòng nhập tên tài khoản";
            }
            if (!password.value) {
                error.innerHTML = "Vui lòng nhập mật khẩu";
            }
            error.style.display = "block";
            if (event) {
                event.preventDefault(); // Ngăn chặn gửi form
            }
            return false;
        }
        // Nếu không có lỗi, cho phép gửi form
        return true;
    }

</script>
