@{
    ViewData["Title"] = "Home Page";
}
<div class="row" >
    <div class="col-md-6">
        <!-- Input with Bootstrap -->
        <input id="searchInput" class="form-control" type="text" placeholder="Tìm kiếm..">
    </div>
    <div class="col-md-6">
        <!-- Button with Bootstrap -->
        <button id="searchButton" class="btn btn-primary btn-block">Tìm kiếm</button>
    </div>
</div>